.instagram-icon::after {
  content: url('../img/icon-instagram.svg');
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  top: 5px;
  left: 3px;
  z-index: 9;
}

.youtube-icon::after {
  content: url('../img/icon-youtube.svg');
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  top: 5px;
  left: 3px;
  z-index: 9;
}
