.footer {
  opacity: 0.9;
  background:  #191919;
}

.instagram-icon::after {
  content: url('../img/icon-instagram.svg');
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  top: 5px;
  left: 3px;
  z-index: 9;
}

.youtube-icon::after {
  content: url('../img/icon-youtube.svg');
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  top: 5px;
  left: 3px;
  z-index: 9;
}

.footer-content {
  display: flex;
  align-items: cent;
  justify-content: center;
}

.footer-content__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  align-items: cent;
  justify-content: center;
  gap: 1.5rem;
}

.copyright {
  /* text-shadow: rgb(0, 0, 0) 3px 3px 0px; */
  /* font-family: adineuePRO-Cond-Bold; */
  /*font-size: 35px; */
}