#gform_1 {
  background-color: #e1e1e1;
  padding: 1rem;
  border: 1px solid #F4F4F4;
}

.gfield_label {
  font-weight: 700;
}

.gform_wrapper {
  /* border: 4px solid goldenrod; */
}

#input_1_8 {
  flex-direction: row;
  
}

#field_1_5, #field_1_3, #field_1_8 {
  .gfield_label {
   
    font-weight: 700;
  }
}

.gform-theme--foundation .gform_footer, .gform-theme--foundation .gform_page_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gform-theme-form-footer-gap);
  margin-block-start: var(--gform-theme-form-footer-margin-block-start);
}

#gform_submit_button_1 {
  text-transform: uppercase;
  background-color: #000;
  padding: 1rem 2rem;
  border-radius: 0 !important;
  margin-top: 1.5rem !important;
}



#conf-button {
  text-transform: uppercase;
  background-color: #000;
  padding: 1rem 2rem;
  border-radius: 0 !important;
}

/* Search */
#searchform {
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
  }
  #searchsubmit {
    background-color: hsl(300, 80%, 58%);
    border: 4px solid hsl(0, 0%, 90%);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
  }
}