.site-header {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
}

.site-header__branding {
  display: flex;
}

.vertical-navigation {
  position: fixed;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;

  .menu {
    display: flex;
    gap: 1.5rem;

  }
}

@media (max-width: 960px) {
  .vertical-navigation {
    position: relative;
    writing-mode: lr;

    .menu {
      ul {
        height: 2.2rem;
        
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    
  }
}

.current_page_item {
  text-decoration: underline;
  color: #00c2d9;
}

/* Pivot button rotate */
.pivot-content {
  transform-origin: 420px 573px;
  transform: rotate(0deg);
  transition: transform 0.35s ease-in-out;
}

.pivot-content__reset {
  transform-origin: 420px 573px;
  transform: rotate(18deg);
  transition: transform 0.35s all;
}

.steve-button {
  background: #000000;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  padding: 15px 20px 14px;
  position: relative;
  text-decoration: none;
  transform: translate(-3px, -3px);

  a {
    text-decoration: none !important;
  }
}

.steve-button:active {
  transform: translate(0, 0);
}

.steve-button:active::after {
  transform: translate(-4px, -6px);
}

.steve-button::after {
  border: 1px solid #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 3px;
  z-index: -1;
}

.goback-arrow {
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goback-arrow::before {
  content: url('../img/left-arrow-v2.svg');
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  top: 5px;
  left: 3px;
  padding-right: 0.5rem;
  z-index: -1;
}