.page-container {
  img {
    height: 40vh;
    max-width: 100%;
    object-fit: cover;
    /*border: 4px solid rgb(44, 49, 134); */

  }
  /* border: 4px solid sandybrown; */
}

.front-page {
  .wp-block-button__link.wp-element-button {
    color: #fff;
    text-decoration: none;
  }
}