.post-container {
  img {
    
    max-width: 100%;
    object-fit: cover;
    /* border: 4px solid rgb(44, 49, 134); */

  }
  /* border: 4px solid sandybrown; */
}

.paginate-archive {
  display: flex;
  align-items: center;
  justify-content: center;

  .next::after {
    content: url('../img/right-arrow.svg');
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    top: 4px;
    left: 3px;
    padding-right: 0.5rem;
    z-index: -1;
  }

  .prev::after {
    content: url('../img/left-arrow-alt.svg');
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    top: 4px;
    left: 3px;
    padding-right: 0.5rem;
    z-index: -1;
  }
}

.page-numbers.current {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.moretag {
  display: block;
  padding: 1rem 0;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.category-bg {
  a {
    background: rgb(45, 212, 191);
    color: white;		
    padding: 0.2rem;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  }
}