/* ==================
 # Variables (CSS)
===================*/

:root {

  /* My amazing color palette */
  --color-yellow:       #FFB400;
  --color-orange:       #F6511D; 
  --color-text:         #0D2C54;
  --color-green:        #7FB800;
  --color-blue:         #00A6ED;
  --color-white:        #e6e6e6;
}
