/* ==================
 # Variables (CSS)
===================*/

:root {

  /* My amazing color palette 
  --color-yellow:       #FFB400;
  --color-orange:       #F6511D; 
  --color-text:         #0D2C54;
  --color-green:        #7FB800;
  --color-blue:         #00A6ED;
  --color-white:        #f4f4f9;
  --color-violet:       #54457F;
  --color-pink:         #EC058E;
  --color-indigo:       #3A1772;
  --color-cerise:       #d741a7;
  --color-purple:       #c200fb;
  --color-razzmataz:    #EC0868;
*/ }
