/* ==================
 # Variables (CSS)
===================*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: "IBM Plex Sans", sans-serif; */

:root {

  /* My amazing color palette 
  --color-yellow:       #FFB400;
  --color-orange:       #F6511D; 
  --color-text:         #0D2C54;
  --color-green:        #7FB800;
  --color-blue:         #00A6ED;
  --color-white:        #f4f4f9;
  --color-violet:       #54457F;
  --color-pink:         #EC058E;
  --color-indigo:       #3A1772;
  --color-cerise:       #d741a7;
  --color-purple:       #c200fb;
  --color-razzmataz:    #EC0868;
*/ }
